.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_3 {
}
.ellipse {
}
._形状 {
}
._图片_ {
}
._一级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.image {
}
.placeholder {
}
.vertical_line {
}
.iconfont {
  font-family:'iconfont', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.icon {
}
.line {
}
.arrow {
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.paragraph {
  text-align:left;
}
.heading_1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.shape {
}
.line1 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.image1 {
  color:#000000;
}
.box_2 {
}
.label {
  font-size:14px;
  text-align:left;
}
._图片 {
}
.horizontal_line {
}
.flow_shape1 {
}
.paragraph1 {
  text-align:left;
}
.heading_11 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.form_hint1 {
  color:#999999;
}
.form_disabled1 {
}
.table_cell {
}
._连接 {
}
.image2 {
}
.refs-design-apple {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.box_21 {
}
.placeholder1 {
}
._形状1 {
}
.table_cell1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.tag {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
  text-align:center;
}
.tag-success {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#67C23A;
  text-align:center;
}
.tag-warning {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E6A23C;
  text-align:center;
}
.tag-info {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:center;
}
.tag-danger {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F56C6C;
  text-align:center;
}
.box_11 {
}
.box_22 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
textarea, select, input, button { outline: none; }
